<script>
  /*
    Un servicio en Angular es un objeto o funcion cuyo comportamiento se
    comparte a lo largo de toda la aplicación.
    Solo se instancia una vez, por lo que cada parte de la aplicación tiene
    acceso a la misma instancia del AngularJS Service.
    Comportamientos repetitivos, estado compartido, cache, factorias, etc, son
    servicios.

    Un servicio puede ser implementado como factoria, servicio o provider
    * Factoria: Se sigue un estilo funcional de programacion
                Prefieres que devuelve funciones y objetos
   */
</script>


<!-- File: chapter5/need-for-service/index.html -->
<html ng-app="notesApp">
<head>
  <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
  </script>
  <script src="services-01.js"></script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
<h1>Hello Controllers!</h1>
<button ng-click="mainCtrl.open('first')">Open First</button>
<button ng-click="mainCtrl.open('second')">Open Second</button>
<div ng-switch on="mainCtrl.tab">
  <!-- Muestra u oculta elementos dependiendo del valor de mainCtrl.tab
       con ng-switch-when indicamos el valor que tendrá la variable -->
  <div ng-switch-when="first">
    <div ng-controller="SubCtrl as ctrl">
      <h3>First tab</h3>
      <ul>
        <li ng-repeat="item in ctrl.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="ctrl.add()">Add More Items</button>
    </div>
  </div>
  <div ng-switch-when="second">
    <div ng-controller="SubCtrl as ctrl">
      <h3>Second tab</h3>
      <ul>
        <li ng-repeat="item in ctrl.list">
          <span ng-bind="item.label"></span>
        </li>
      </ul>
      <button ng-click="ctrl.add()">Add More Items</button>
    </div>
  </div>
</div>
</body>
</html>
<!--
En este ejemplo se usan dos controladores pero cada uno es independiente,
el controlador SubCtrl aunque usa la misma variable en las dos instancias, cada
una tiene su propia variable independiente
-->
