<!-- File: chapter4/form-validation.html -->
<html ng-app="notesApp">
<head><title>Notes App</title></head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit()" name="myForm">
  <input type="text"
         ng-model="ctrl.user.username"
         required
         ng-minlength="4">
  <input type="password"
         ng-model="ctrl.user.password"
         required>
  <input type="submit"
         value="Submit"
         ng-disabled="myForm.$invalid">
  <!--  el input submit no se habilitará hasta que se rellenen los campos que tienen
  el atributo required y la directiva ng-minlength-->
</form>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
</script>

<script type="text/javascript">
  // Existen varias variables asociadas a los formularios con nombre
  // $invalid : si alguno de los campos es invalido
  // $valid : si todos los campos son validos
  // $pristine : si el usuario no ha tocado ningun campos
  // $dirty : el usuario ha cambiado algun campo, aunque lo borre luego
  // $error : contiene todos los campos del formulario y sus errores
  // todas las variables son booleanas excepto $error

  // validadores individuales
  // required : el campo es requerido
  // ng-required: marca el campo como requerido basado en un valor Boolean
  //  del controlador
  // ng-minlength : tamaño minimo
  // ng-maxlength : tamaño maximo
  // ng-pattern : valida contra una expresión regular
  // type="email" : email validation
  // type:"number" : debe ser de tipo numero, tambien se puede indicar un
  //  minimo y un maximo
  // type:"url" : URL validation
  // tambien podemos crear nuestros propios validadores

  angular.module('notesApp', [])
    .controller('MainCtrl', [function () {
      var ctrl    = this;
      ctrl.submit = function () {
        console.log('User clicked submit with ', ctrl.user);
      };
    }]);
</script>

</body>
</html>
