<!doctype html>
<html lang="en" ng-app="notesApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-controller="MainCtrl as ctrl">

<div ng-init="location = 'India'">
  <select ng-model="location">
    <option value="USA">USA</option>
    <option value="India">India</option>
    <option value="Other">None of the above</option>
  </select>
  <!--
      Se crea la variable location = 'India' con ng-init

      Se bindea el select con ng-model, de forma que su value queda ligado a la
        variable location inicializada previamente.

      Por defecto el combo tendrá el valor India, si lo cambiamos se actualizará
        el valor de la variable location.
  -->
</div>

<div>
  <select ng-model="ctrl.selectedCountryId"
          ng-options="c.id as c.label for c in ctrl.countries">
    <!--
      creamos los options dinamicamente
       el label del option es c.label
       c es cada objeto dentro de ctrl.countries

      modelValue as labelValue for item in array

      Observamos que modelValue no se usa como value en el option sino que se
       enumeran los option empezando por 1, el value del select se guarda en
       la variable del modelo que hayamos indicado en ng-model
    -->
  </select>
  Selected Country ID : {{ctrl.selectedCountryId}}
</div>

<div>
  <select ng-model="ctrl.selectedCountry"
          ng-options="c.label for c in ctrl.countries">
    <!--
      Aqui omitimos el modelValue de forma que AngularJS asume que cada
       item es el modelvalue, por ejemplo  {label: 'USA', id: 1}
    -->
  </select>
  Selected Country : {{ctrl.selectedCountry}}
</div>

<!-- Opcionalmente tambien podemos usar una clausula d grouping, para el cual
      la sintaxis será

      ng-options = "modelValue as labelValue group by groupValue for item in array"

      Al usar objetos la sintaxis sería

      modelValue as labelValue group by groupValue for (key, value) in object

      AngularJS compara las opciones de ng-options con el ng-model de referncia
      asi que aunque los dos objetos tengan las mismas claves y valores, Angular
      no mostrará ese item como seleccionado en el combo a no ser que sean el
      mismo objeto. En el ejemplo se hace usando un item del array countries
      para asignarlo como valor inicial.

      Hay una forma mejor de hacerlo, a traves de la sintaxis track by

        ng-options = "c.label for c in ctrl.countries track by c.id"

      Asi nos aseguramos que el objeto c se compara usando el campo ID en vez
        de hacerlo por referencia, que es por defecto.

-->


<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
</script>

<script type="text/javascript">
  angular.module('notesApp', [])
    .controller('MainCtrl', [function () {
      this.countries         = [
        {label: 'USA', id: 1},
        {label: 'India', id: 2},
        {label: 'Other', id: 3}
      ];
      this.selectedCountryId = 1;
      this.selectedCountry   = this.countries[2];
    }]);
</script>

</body>
</html>
